/* GLOBAL */
:root {
    --bg-body: hsl(0, 0%, 8%);
    --bg-contact: hsl(0, 0%, 14%);
    --accent: hsl(153, 71%, 59%);
    --text1: hsl(0, 0%, 100%);
    --text2: hsl(0, 0%, 85%);
    --invalid: hsl(7, 100%, 68%);
    --fs-88: 5.5rem;
    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;
    --container: 69.375rem;
    --transition: 250ms ease-in-out;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--bg-body);
    color: var(--text1);
    font-size: var(--fs-18);
    line-height: 1.56;
}

h1, h2, h3, p {
    margin-top: 0;
}

h1, h2, h3 {
    line-height: 1;
}

h1 {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
}

p {
    line-height: 1.3;
}

a {
    transition: color var(--transition);
}

a:hover {
    color: var(--accent);
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container);
    margin-inline: auto;
}

/* 600px */
@media (min-width: 37.5em) {
    .wrapper {
        width: calc(100% - 3.75rem);
    }
}

/* HEADER */
.header {
    margin-top: 20px;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
}

.header_home {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
    line-height: 1;
    color: var(--text1);
    text-decoration: none;
    flex: 1 0 100%;
}

.header_social {
    display: inline-block;
}

.header_social > svg > path {
    transition: fill var(--transition);
}

.header_social:hover > svg > path{
    fill: var(--accent)
}

@media (min-width: 37.5em) {
    .header_nav {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        gap: 32px;
    }

    .header_home {
        flex: 1;
        margin-inline-end: auto;
    }
}

/* HERO */
.hero {

}

.hero_wrapper {
    position: relative;
}

.hero_image {
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50%;
    display: block;
}

.hero_text {
    position: relative;
    text-align: center;
    top: 410px;
}

h1 > span {
    background-image: linear-gradient(
        to right,
        var(--accent) 75%,
        var(--accent) 75%
    );
    background-position: 0 1.18em;
    background-repeat: repeat-x;
    background-size: 8px 4px;
}

.hero_description {
    text-align: center;

}

.hero_contact {

}